
.o_home_menu_background {
    // 'Home menu background' design is shared with enterprise login
    // screens and it's located in '/backend_theme/static/src/scss/ui.scss'

    // When applied on webclient (note: we do not specify the webclient class
    // here to avoid breaking studio custom style)
    &:not(.o_home_menu_background_custom) .o_main_navbar {
        background-color: transparent;
        border-color: transparent;
        background: transparent;

        .show .dropdown-toggle {
            background-color: rgba(black, 0.1);
        }
        .oe_topbar_avatar {
            box-shadow: $o-home-studio-menu-shadow;
        }

        &, & > ul > li {
            > a {
                text-shadow: $o-home-studio-menu-shadow;

                &:hover, &:focus {
                    background-color: rgba(black, 0);
                }
            }
        }
    }
    &.o_home_menu_background_custom .o_home_menu {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.o_rtl{
    .o_home_menu {
         &:before{
            background-image:url(/backend_theme/static/src/img/bg-login-right.svg);
         }
         &:after{
            background-image:url(/backend_theme/static/src/img/bg-login-left.svg);
         }
    }
}
.o_home_menu {
    font-size: $o-font-size-base-touch;
    -webkit-overflow-scrolling: touch; // smooth scrolling in iOS app (Safari)
    overflow:hidden!important;
    &:before,&:after {
        content: "";
        display: block;
        opacity: 0.7;
        position: absolute;
        z-index:-1;
        top: 50%;
        width: 100vh;
        height: 100%;
        max-width: 596px;
//         max-height: 554px;
        background-size: contain;
        background-repeat:no-repeat;
        background-position:center;
    }
    &:before{
        left:0;
        background-image:url(/backend_theme/static/src/img/bg-login-left.svg);
        transform: translateY(-50%) translatex(-30%);
        @media (max-width: 767.98px) {
        transform: translateY(-50%) translatex(-70%);
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
        transform: translateY(-50%) translatex(-60%);
        }
        @media (min-width: 992px) and (max-width: 1199.98px) {
        transform: translateY(-50%) translatex(-50%);
        }
        @media (min-width: 1200px) and (max-width: 1399.98px) {
        transform: translateY(-50%) translatex(-40%);
        }
    }
    &:after {
        right:0;
        background-image:url(/backend_theme/static/src/img/bg-login-right.svg);
        transform: translateY(-50%) translatex(30%);
        @media (max-width: 767.98px) {
            transform: translateY(-50%) translatex(70%);
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
            transform: translateY(-50%) translatex(60%);
        }
        @media (min-width: 992px) and (max-width: 1199.98px) {
            transform: translateY(-50%) translatex(50%);
        }
        @media (min-width: 1200px) and (max-width: 1399.98px) {
            transform: translateY(-50%) translatex(40%);
        }
    }
    .o_apps {
        user-select: none;

        .o_app {
            background: transparent;
            border: 1px solid transparent;
            border-radius: 3%;
            outline: none;
            text-decoration: none;
            transition: all 0.3s ease 0s;

            .o_app_icon {
                background: { repeat: no-repeat; position: center; size: cover; };
                border-radius: 4%;
                box-shadow: 0 8px 0 -10px black;
                transition: all 0.3s ease 0s;

                // Pictogram icons (studio)
                &_has_pictogram::before {
                    background: linear-gradient(to right top, transparent, rgba(white, 0.15));
                    border-radius: 4%;
                    box-shadow: inset 0 1px 0 0 rgba(white, 0.4), inset 0 -1px 0 0 rgba(black, 0.4);
                }

                .fa {
                    font-size: $o-home-menu-app-icon-max-width * 0.5;
                    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.23);
                    @media screen and (max-width: 260px) { // where icons start to shrink
                        font-size: 30px; // on old browser
                        font-size: 13vw; // ~33px at 260px
                    }
                }
            }

            .o_caption {
                color: white;
                text-shadow: 0 1px 1px rgba(black, 0.8);
            }

            &:focus,
            &.o_focused,
            &:hover {
                .o_app_icon {
                    box-shadow: 0 8px 15px -10px black;
                    transform: translateY(-1px);
                }
            }

            &.o_menuitem {
                &:focus,
                &.o_focused {
                    background-color: rgba(white, 0.05);
                    border-radius: 4px;
                }
            }
        }
    }

    .o_menuitems {
        margin-bottom: 40px;

        .o_menuitem {
            color: $gray-200;
            outline: none;
            @include o-text-overflow;
            @include media-breakpoint-up(md) {
                font-size: 20px;
            }

            .o_menuitem_parents {
                font-weight: $font-weight-light;
                color: $gray-400;
            }

            &:hover,
            &:focus,
            &.o_focused {
                color: white;
                .o_menuitem_parents {
                    color: $gray-300;
                }
            }

            &:focus,
            &.o_focused {
                background-color: rgba(white, 0.05);
            }
        }
    }

    .o_no_result {
        color: $o-brand-lightsecondary;
        font-size: 22px;
    }
}
